<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <title><%= page_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="/stylesheets/doculab/main.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/stylesheets/doculab/doculab.css" rel="stylesheet" type="text/css" media="all"/>
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/doculab/ie.css" media="screen" /><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/doculab/ie8.css" /><![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" />

</head>

<body>
  <div id="wrapper">

  <div style="background-color: #ad2535; padding: 7px 0; border-bottom: 1px solid #2c2c2c; text-align: center; color: white; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
    This documentation site is deprecated. The latest up-to-date API reference is available at <a style="color: white;" href="https://reference.chargify.com">https://reference.chargify.com</a>. <br /> This site will remain available for historical reference until June 1, 2017
  </div>
    <div id="header">
      <div class="inner_nav clearfix">
        <ul class="nav">
          <li><a href="https://www.chargify.com/">&raquo; Chargify Website</a></li>
          <li><a href="https://app.chargify.com/">&diams; Login to App</a></li>
        </ul>
        <% unless page.permalink == 'search' %>
        <div id="searchbox">
          <gcse:searchbox-only resultsUrl="/search"></gcse:searchbox-only>
        </div>
        <% end %>
        <span class="logo"><a href="/">Chargify</a></span>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="inner">
          <div class="sidebar">
            <div class="top">
              <div class="bottom">
                <div id="table_of_contents">
                  <ul>
                  <%- sections.each do |section| -%>
                    <li><strong><%= section.title -%></strong>
                    <%- unless section.pages.empty? -%>
                      <ul>
                      <%- section.pages.each do |page| -%>
                        <li><%= toc_link(page) -%></li>
                      <%- end -%>
                      </ul>
                    <%- end -%>
                    </li>
                  <%- end -%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="docupage">
              <div id="breadcrumbs">
                <%- unless index? -%>
                <p><%= raw breadcrumbs.join(" &raquo; ") %></p>
                <%- end -%>
              </div>

              <h1 class="title"><%= page.title %></h1>
              <%= content_for?(:doc_content) ? yield(:doc_content) : yield %>

              <%- if page && (page.next_page || page.previous_page)  -%>
                <ul id="page_navigation">
                  <%- if next_page = page.next_page -%>
                    <li class="next"><span>Next page:</span> <%= toc_link(next_page) %></li>
                  <%- end -%>
                  <%- if previous_page = page.previous_page -%>
                    <li class="prev"><span>Previous page:</span> <%= toc_link(previous_page)  %></li>
                  <%- end -%>
                </ul>
              <%- end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        <div class="footer_base">
          <p>&copy; Copyright 2010-2015 Chargify LLC. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start of Google Analytics  -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10463203-1', 'chargify.com');
  ga('send', 'pageview');

  </script>
  <!-- End of Google Analytics -->

  <!-- Google Site Search -->
  <script>
    (function() {
      var cx = '010707630406599261790:e2cohkx3cwg';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>
</html>
