<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <title><%= page_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="https://chargify.com/?css=styles/main-css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/stylesheets/doculab/doculab.css" rel="stylesheet" type="text/css" media="all"/>
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="https://chargify.com/?css=styles/ie-css" media="screen" /><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="https://chargify.com/?css=styles/ie8-css" /><![endif]-->

  <link rel="shortcut icon" href="https://chargify.com/favicon.ico" />

</head>

<body>
  <div id="wrapper">
        <div id="header">
      <div class="inner_nav clearfix">
        <ul class="nav">
          <li><a href="https://chargify.com/blog/" class="blog">Blog</a></li>
          <li><a href="https://chargify.com/about-us/" class="about">About Us</a></li>
          <li><a href="https://chargify.com/partner-ecosystem/" class="ecoystem">Ecosystem</a></li>
          <li><a href="https://docs.chargify.io/" class="docs">&nbsp;Documentation</a></li>
          <li><a href="https://app.chargify.com/login" class="login">Sign In</a></li>
          <li><a href="http://support.chargify.com" class="support">Call Us: <b>1-800-401-2414</b></a></li>
        </ul>
        <div id="menu_wrapper" class="clearfix">
          <ul id="menu">
            <li><a href="https://chargify.com/pricing-and-signup/" style="color: #FFFFFF;">Pricing &amp; Sign Up</a></li>
            <li><a href="https://chargify.com/our-customers">Customers</a></li>
            <li><a href="https://chargify.com/features/">Features</a></li>
            <li><a href="https://chargify.com/how-it-works/">How It Works</a></li>
            <li><a href="https://chargify.com/">Home</a></li>
          </ul>
        </div>
        <span class="logo"><a href="https://chargify.com/">Chargify</a></span>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="inner">
          <div class="sidebar">
            <div class="top">
              <div class="bottom">
                <div id="table_of_contents">
                  <ul>
                  <%- sections.each do |section| -%>
                    <li><strong><%= section.title -%></strong>
                    <%- unless section.pages.empty? -%>
                      <ul>
                      <%- section.pages.each do |page| -%>
                        <li><%= toc_link(page) -%></li>
                      <%- end -%>
                      </ul>
                    <%- end -%>
                    </li>
                  <%- end -%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="docupage">
              <div id="breadcrumbs">
                <%- unless index? -%>
                <p><%= raw breadcrumbs.join(" &raquo; ") %></p>
                <%- end -%>
              </div>

              <h1 class="title"><%= page.title %></h1>
              <%= content_for?(:doc_content) ? yield(:doc_content) : yield %>

              <%- if page && (page.next_page || page.previous_page)  -%>
                <ul id="page_navigation">
                  <%- if next_page = page.next_page -%>
                    <li class="next"><span>Next page:</span> <%= toc_link(next_page) %></li>
                  <%- end -%>
                  <%- if previous_page = page.previous_page -%>
                    <li class="prev"><span>Previous page:</span> <%= toc_link(previous_page)  %></li>
                  <%- end -%>
                </ul>
              <%- end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        <div class="footer_column">
          <h5>Features</h5>
          <ul class="footer_links">
            <li><a href="https://chargify.com/features/">Recurring Billing System</a></li>
            <li><a href="https://chargify.com/features/subscription-management/">Subscription Management</a></li>
            <li><a href="https://chargify.com/features/pci-compliant-security/">PCI Compliant Security</a></li>
            <li><a href="https://chargify.com/features/recurring-billing-api/">Recurring Billing API</a></li>
            <li><a href="https://chargify.com/features/branded-payment-websites/">Branded Payment Websites</a></li>
            <li><a href="https://chargify.com/features/dunning-management/">Dunning Management</a></li>
            <li><a href="https://chargify.com/features/easy-to-use-interface/">Easy-to-use Interface</a></li>
            <li><a href="https://chargify.com/features/iphone-app/">iPhone App</a></li>
            <li><a href="https://chargify.com/features/multi-gateway-support/">Multi-Gateway Support</a></li>
            <li><a href="https://chargify.com/features/metered-billing/">Metered Billing</a></li>
            <li><a href="https://chargify.com/features/coupon-and-discount-support/">Coupon/Discount Support</a></li>
          </ul>
        </div>
        <div class="footer_column">
          <h5>Resources</h5>
          <ul class="footer_links">
            <li><a href="https://docs.chargify.io/api-introduction">API Documentation</a></li>
            <li><a href="http://support.chargify.com/">Support Center</a></li>
            <li><a href="http://changelog.chargify.com">Changelog</a></li>
            <li><a href="http://support.chargify.com/faqs">Knowledge Base</a></li>
            <li><a href="https://docs.chargify.io/">Documentation</a></li>
            <li><a href="http://support.chargify.com/faqs/general-questions">General Questions</a></li>
            <li><a href="http://support.chargify.com/faqs/billing-payment">Billing &amp; Payment</a></li>
            <li><a href="http://support.chargify.com/discussions">Forums</a></li>
            <li><a href="http://support.chargify.com/discussions/suggestions">Suggestions</a></li>
            <li><a href="https://chargify.com/consultants/">Implementation Consultants</a></li>
          </ul>
        </div>
        <div class="footer_column">
          <h5>Community</h5>
          <ul class="footer_links">
            <li><a href="https://chargify.com/blog/">The Bullring Blog</a></li>
            <li><a href="http://twitter.com/chargify" target="_blank">Twitter</a></li>
            <li><a href="http://www.flickr.com/photos/chargify/" target="_blank">Flickr</a></li>
            <li><a href="http://labs.grasshoppergroup.com" target="_blank">Grasshopper Group Labs</a></li>
          </ul>
        </div>
        <div class="footer_column_last">
          <h5>Chargify</h5>
          <ul class="footer_links">
            <li><a href="http://chargify.com/about-us/">About Us</a></li>
            <li><a href="http://chargify.com/how-it-works/">How It Works</a></li>
            <li><a href="http://chargify.com/news/">News</a></li>
            <li><a href="http://chargify.com/careers/">Careers</a></li>
            <li><a href="http://chargify.com/contact-us/">Contact Us</a></li>
            <li><a href="http://app.chargify.com/login">Sign In</a></li>
          </ul>
        </div>
        <div class="footer_base">
          <div class="poweredbygg">
            <a href="http://grasshoppergroup.com/" target="_blank"><span>Powered by Grasshopper Group</span></a>
          </div>
          <p>&copy; Copyright 2010 Chargify LLC. All rights reserved. <a href="http://chargify.com/terms-conditions/">Terms &amp; Conditions</a>. <a href="http://chargify.com/privacy-policy/">Privacy Policy</a>. <span><a href="http://chargify.com/sitemap/">Sitemap.</a></span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start of Google Analytics  -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10463203-1']);
    _gaq.push(['_setDomainName','chargify.com']);
    if(typeof(_vis_opt_GA_track) == "function") {_vis_opt_GA_track();} //VWO code
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- End of Google Analytics -->
</body>
</html>
